   <h1>Datos</h1>

   {{#if hayProductos}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            <tr>
                <td>{{productos.nombre}}</td>
                <td>{{productos.descripcion}}</td>
                <td>${{productos.precio}}</td>
                <td><img width="50" src={{productos.foto}} alt="not found"></td>
            </tr>
        </table>
    {{else}}
        
    <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}

    </div>